@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Permanent+Marker&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
a,
li {
  text-decoration: none;
  list-style: none;
}

:root {
  /* Colors */
  --prim-t_c: #07ad91;
  --sec-t_c: #fff;
  --logo_c: var(--prim-t_c);
  --title_c: var(--sec-t_c);

  /* Background Colors */
  --dark-bg_c: #111;
  --prim-bg_c: #333;
  --sec-bg_c: #808080;

  --prim-icon_c: var(--prim-t_c);

  /* Font Styles */
  /* Font Size */
  --font-size_title: 3.5rem;
  --font-size_xl: 2.5rem;
  --font-size_md: 1.3rem;
  --font-size_sm: 0.8rem;

  /* Font Family */
  --font-family_title: 'Permanent Marker', cursive;
  --font-family_sub-title: var(--font-family_title);
  --font-family_regular: 'Oswald', sans serif;
}

body {
  font-family: var(--font-family_regular);
  letter-spacing: 1px;
  background-color: var(--dark-bg_c);
  color: var(--sec-t_c);
}

/* Utility Classes */
.btn {
  border: none;
  outline: none;
  background-color: var(--prim-t_c);
  color: var(--sec-t_c);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.icon {
  color: var(--prim-icon_c);
}

.text-title {
  font-size: var(--font-size_title);
  font-family: var(--font-family_title);
  color: var(--title_c);
  text-align: center;
  text-shadow: 5px 5px 3px black;
}

.text_sub-title {
  font-size: var(--font-size_xl);
  font-family: var(--font-family__sub-title);
  color: var(--prim-t_c);
  text-align: center;
  font-weight: 100;
  margin: 3rem 0;
  text-shadow: 3px 3px 3px black;
}

/* Utility Classes end */

/* Header */
header {
  position: relative;
}

.bg-img {
  background: url(https://source.unsplash.com/URjZkhqsuBk) center/cover
    no-repeat;
  height: 100vh;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 span {
  color: var(--prim-t_c);
}

.overlay .btn {
  margin-top: 3rem;
  font-size: var(--font-size_md);
}

.overlay .btn a {
  color: var(--sec-t_c);
}
/* Header end */

/* Navigation */
.navigation {
  display: flex;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 50px;
  padding-top: 0.5rem;
  justify-content: space-between;
}

.logo {
  color: var(--sec-t_c);
  font-family: var(--font-family_title);
  font-size: var(--font-size_xl);
  background-color: var(--logo_c);
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.btn-nav {
  height: 40px;
  width: 40px;
  margin-right: 0.8rem;
}

.nav-list {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border: black;
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 2rem;
}

.nav-list li {
  width: 100%;
  border-bottom: 1px solid var(--prim-t_c);
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.nav-link {
  color: var(--sec-t_c);
  text-shadow: 1px 2px 1px var(--prim-t_c);
  font-size: var(--font-size_md);
  margin: 1rem;
  text-transform: uppercase;

  font-weight: 900;
  letter-spacing: 2px;
}

.nav-social {
  font-size: var(--font-size_xl);
  display: flex;
  /* margin-top: 25vh; */
  justify-content: space-evenly;
}

.nav-phone_active {
  transition: all 0.3s ease;
  box-shadow: 0 0 55px 30px rgba(7, 171, 144, 0.65);
}

.nav-phone_inactive {
  box-shadow: none;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
/* Navigation end*/

/* Menu Section */

.menu-section {
  padding: 2rem 0;
}

.menu-section h2 {
  width: 300px;
  margin: auto;
  margin-bottom: 2rem;
  font-family: var(--font-family_title);
}

.menu-section h2 span {
  color: var(--sec-t_c);
}

.menu-container {
  position: relative;
  margin-top: 2rem;
  max-width: 350px;
  border: 1px solid var(--prim-t_c);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.Breakfast-container,
.Lunch-container,
.Diner-container {
  position: relative;
  display: grid;
  grid-template-columns: 60px 290px;
  font-size: var(--font-size_sm);
  color: var(--sec-t_c);
  border-bottom: 5px solid black;
  letter-spacing: 1px;
}

.menu-container aside {
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size_md);
  font-family: var(--font-family_title);
}

.menu-container li:nth-child(odd) {
  color: var(--prim-t_c);
  margin-top: 0.5rem;
}

.menu-container li span {
  color: var(--sec-t_c);
}

/* Menu Section End*/

/* Orders Section */

.orders-section h2 span {
  color: var(--sec-t_c);
}

.cards-container {
  position: relative;
}

.card-body {
  width: 280px;
  background-color: var(--prim-bg_c);
  border-radius: 10px;
  margin: 0.5rem auto;
  padding: 1rem;
  animation: fade 0.5s ease-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.card-title {
  color: var(--prim-t_c);
  font-size: var(--font-size_md);
  margin-bottom: 1rem;
}

.card-description {
  margin-bottom: 1rem;
}

.break {
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;
  /* background-color: var(--prim-t_c); */
  animation: lineAnime 4s ease-in-out infinite;
}

@keyframes lineAnime {
  0% {
    background-color: var(--prim-t_c);
    opacity: 0.4;
  }
  50% {
    background-color: var(--prim-t_c);
    opacity: 1;
  }
  100% {
    background-color: var(--prim-t_c);
    opacity: 0.4;
  }
}

.card-price {
  color: var(--prim-t_c);
  margin-bottom: 2rem;
  font-size: var(--font-size_md);
}

.card-body .input-container {
  display: block;
}
.card-body .input-container input[type='number'] {
  width: 50px;
  margin: 0 1rem 1rem 0;
  background-color: var(--dark-bg_c);
  color: var(--sec-t_c);
  outline: none;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
}
/* Orders Section End */
